:root{
  --brown: #8B5E3C;
  --brown_hover: #754C29;
}

* {
    font-family: 'Poppins', sans-serif;
}
.h-font {
    font-family: 'Gelasio', serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}


input[type=number] {
 -moz-appearance: textfield;
}

.custom-bg{
  background-color: var(--brown);
  border: 1px solid var(--brown);
}

.custom-bg:hover{
  background-color: var(--brown_hover);
  border-color: var(--brown_hover);
}
